---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "quelle différence entre VTC et taxi Nice | ECOFUNDRIVE";
const description = "Service de quelle différence entre VTC et taxi Nice sur la Côte d'Azur. quelle différence entre VTC et taxi Nice";
const keywords = [
  'quelle différence entre VTC et taxi Nice'];
---


<!-- Mots-clés SEO: quelle différence entre VTC et taxi Nice -->

<BaseLayout 
  title={title}
  description={description}
  currentPage="guide-vtc-ou-taxi-aeroport-nice"
>
  <main>
    <h1>{title}</h1>
    <p>{description}</p>
    
    <!-- Mots-clés à intégrer dans le contenu: -->
    <!-- quelle différence entre VTC et taxi Nice -->
  </main>
</BaseLayout>