---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "combien coûte un VTC Nice Monaco | ECOFUNDRIVE";
const description = "Service de combien coûte un VTC Nice Monaco sur la Côte d'Azur. combien coûte un VTC Nice Monaco";
const keywords = [
  'combien coûte un VTC Nice Monaco'];
---


<!-- Mots-clés SEO: combien coûte un VTC Nice Monaco -->

<BaseLayout 
  title={title}
  description={description}
  currentPage="tarifs"
>
  <main>
    <h1>{title}</h1>
    <p>{description}</p>
    
    <!-- Mots-clés à intégrer dans le contenu: -->
    <!-- combien coûte un VTC Nice Monaco -->
  </main>
</BaseLayout>