---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Test Image" description="Test" currentPage="test">
  <main style="padding: 2rem; background: white;">
    <h1 style="color: black;">TEST IMAGE</h1>
    
    <h2 style="color: black; margin-top: 2rem;">Image 1 - Balise IMG Simple</h2>
    <img 
      src="/assets/img/about/chauffeur-professionnel.webp" 
      alt="Test 1"
      style="width: 400px; border: 5px solid red;"
    />
    
    <h2 style="color: black; margin-top: 2rem;">Image 2 - Autre Image</h2>
    <img 
      src="/assets/img/hero/hero-aeroport-nice.webp" 
      alt="Test 2"
      style="width: 400px; border: 5px solid blue;"
    />
    
    <h2 style="color: black; margin-top: 2rem;">Image 3 - JPG</h2>
    <img 
      src="/assets/img/destinations/vtc-tesla-nice.jpg" 
      alt="Test 3"
      style="width: 400px; border: 5px solid green;"
    />
  </main>
</BaseLayout>
