---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "VTC Villeneuve-Loubet | ECOFUNDRIVE";
const description = "Service de VTC Villeneuve-Loubet sur la Côte d'Azur. VTC Villeneuve-Loubet";
const keywords = [
  'VTC Villeneuve-Loubet',
];
---


<!-- Mots-clés SEO: VTC Villeneuve-Loubet -->

<BaseLayout 
  title={title}
  description={description}
  currentPage="vtc-villeneuve-loubet"
>
  <main>
    <h1>{title}</h1>
    <p>{description}</p>
    
    <!-- Mots-clés à intégrer dans le contenu: -->
    <!-- VTC Villeneuve-Loubet -->
  </main>
</BaseLayout>