---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "VTC Saint-Tropez | ECOFUNDRIVE";
const description = "Service de VTC Saint-Tropez sur la Côte d'Azur. VTC Saint-Tropez";
const keywords = [
  'VTC Saint-Tropez'];
---


<!-- Mots-clés SEO: VTC Saint-Tropez -->

<BaseLayout 
  title={title}
  description={description}
  currentPage="vtc-saint-tropez"
>
  <main>
    <h1>{title}</h1>
    <p>{description}</p>
    
    <!-- Mots-clés à intégrer dans le contenu: -->
    <!-- VTC Saint-Tropez -->
  </main>
</BaseLayout>