---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "chauffeur Sophia-Antipolis | ECOFUNDRIVE";
const description = "Service de chauffeur Sophia-Antipolis sur la Côte d'Azur. chauffeur Sophia-Antipolis";
const keywords = [
  'chauffeur Sophia-Antipolis'];
---


<!-- Mots-clés SEO: chauffeur Sophia-Antipolis -->

<BaseLayout 
  title={title}
  description={description}
  currentPage="vtc-sophia-antipolis"
>
  <main>
    <h1>{title}</h1>
    <p>{description}</p>
    
    <!-- Mots-clés à intégrer dans le contenu: -->
    <!-- chauffeur Sophia-Antipolis -->
  </main>
</BaseLayout>