---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "VTC pas cher Nice aéroport | ECOFUNDRIVE";
const description = "Service de VTC pas cher Nice aéroport sur la Côte d'Azur. VTC pas cher Nice aéroport, chauffeur VTC 24h/24 Nice, VTC Nice, transfert aéroport Nice";
const keywords = [
  'VTC pas cher Nice aéroport' 'chauffeur VTC 24h/24 Nice' 'VTC Nice' 'transfert aéroport Nice'];
---


<!-- Mots-clés SEO: VTC pas cher Nice aéroport, chauffeur VTC 24h/24 Nice, VTC Nice, transfert aéroport Nice -->

<BaseLayout 
  title={title}
  description={description}
  currentPage="vtc-nice"
>
  <main>
    <h1>{title}</h1>
    <p>{description}</p>
    
    <!-- Mots-clés à intégrer dans le contenu: -->
    <!-- VTC pas cher Nice aéroport, chauffeur VTC 24h/24 Nice, VTC Nice, transfert aéroport Nice -->
  </main>
</BaseLayout>